@model IEnumerable<Escuela1.Models.AlumnosDetalle>

@{
    ViewData["Title"] = "Index";
}

<h1>Calificaciones por Alumno</h1>

<p>
    <a asp-action="Create">Asignar calificación nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.IdAlumnoNavigation.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAlumnoNavigation.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAlumnoNavigation.Nua)
            </th>
            <th>
                Materia
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.IdAlumnoNavigation.Nombre)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAlumnoNavigation.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAlumnoNavigation.Nua)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMateriaNavigation.Nombre)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calificacion)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
